{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index site.Data site.Language.Lang }}

<section class="portfolio-single-page section-sm">
  <div class="container">
    <div class="row mt-10">

      {{ $imageDir := .Params.project_photos }}
      {{ $imageCount := 0 }}
      {{ with readDir (printf "static/%s" $imageDir) }}
        {{ range . }}
            {{ $imageCount = add $imageCount 1 }}
            <div class="col-md-4">
              <img src="{{ (printf "/%s/%s" $imageDir .Name) | relURL }}" alt="loading" loading="lazy" decoding="async"/>
            </div>
            {{ if and (gt $imageCount 0) (eq (mod $imageCount 3) 0) }} <!-- Add a new row after every third image -->
              </div><div class="row mt-10">
            {{ end }}
        {{ end }}
      {{ end }}

<!--      <div class="col-md-12">-->
<!--        {{ with .Params.image }}-->
<!--        <img class="img-responsive w-100" src="{{ . | relURL }}" alt="">-->
<!--        {{ end }}-->
<!--      </div>-->
    </div>
  </div>
</section>

{{ end }}
